html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: rgb(228, 227, 227);
    margin: 0px;
   
}
li.active {
    background-color: #F8F8F8;
    color: black;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rgb(56, 52, 52);
    position: fixed;
    height: 100%;
    overflow: hidden;
    
}
.navigation {
    margin: 30px;
}
.nav li {
    display: block;
    color: #F46524;
    padding: 8px 16px;
    text-decoration: none;
    height: 60px;
    font-size: 27px;
    font-family: "Courier New"; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-page {
    margin-left: 250px;
    padding: 1px 16px;
    margin-top: 0px;
    width: 50%;
    background-color: #F8F8F8; 
    display: block;
    position:absolute;
}

.content{
    margin: 30px;
    margin-bottom: 200px;
    font-size: 26px;
}
.header {     
    width: 250px;
    background-color: #f46524;
    height: 100px;
    font-size: 30px;
    font-family: "Courier New";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
input{
    width:20px
}
.hidden{
    display:none;
}

.nav li:hover {
    background-color:#8B8B8B;
}
.lits{
    list-style-type: circle;
    color: #F46524;
}
h2, h3{
    
    color: #F46524;
    font-family: "Courier New"
}
table { 
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 22px;
} 
td, th { 
    border: 1px solid #CCC;
    width: 20px;
    height: 50px;
}
th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  /* Lighter grey background */
    text-align: center; /* Center our text */
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin:auto;
  }
textarea{
    font-size: 20px;
    font-family: "Courier New"; 
    color: #F46524;
    outline: none;
    background-color: #333;
    border: none;
    font-weight: bold;
    resize: none;
}
button{
    margin:auto;
    display:block;
    height:50px;
    width:200px;
    font-size: 20px;
    font-family: "Courier New"; 
    background-color: #F46524;
    color: white;
    border-radius: 12px;
    border: none;
}
#input, #source, #res{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}