html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: rgb(228, 227, 227);
    margin: 0px;
   
}
li.active {
    background-color: #F8F8F8;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rgb(56, 52, 52);
    position: fixed;
    height: 100%;
    overflow: hidden;
}
.navigation {
    margin: 30px;
}
li {
    display: block;
    color: #C4C0C1;
    padding: 8px 16px;
    text-decoration: none;
    height: 60px;
    font-size: 40px

}

.main-page {
    margin-left: 250px;
    padding: 1px 16px;
    margin-top: 0px;
    height: 600%;
    width: 50%;
    background-color: #F8F8F8; 
}
.content{
    margin: 30px;
    margin-bottom: 700px;
}
.header {     
    width: 250px;
    background-color: #2343F5;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: "Courier New"
}

li:hover {
    background-color:#8B8B8B;
}
h2{
    text-shadow: 2px 1px #979494;
}
table { 
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 500px; 
    border-collapse: collapse;
    border-spacing: 0;
} 
td, th { 
    border: 1px solid #CCC;
    width: 20px;
}
th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
  